Repository e2b-dev/E2B, pull requests merged in 2024-11, with the labels that each got.

#470 Add user by e-mail
  apps/web/src/components/Dashboard/Team.tsx
Labels: feature

#473 Fix docker auth error during template build
  .changeset/grumpy-hairs-jam.md
  apps/web/src/app/(docs)/docs/troubleshooting/templates/build-authentication-error/page.mdx
  apps/web/src/components/Navigation/routes.tsx
  packages/cli/src/commands/template/build.ts
  packages/cli/src/commands/template/buildWithProxy.ts
  packages/cli/src/user.ts
Labels: bug, cli

#476 Updated api key management in dashboard
  apps/web/src/app/(dashboard)/dashboard/page.tsx
  apps/web/src/components/Dashboard/Keys.tsx
  apps/web/src/components/Dashboard/Sandboxes.tsx
Labels: Improvement, dashboard

#481 Add command for building dependencies for generating python envd client
  Makefile
  packages/connect-python/Makefile
Labels: Improvement

#482 Fix docs examples for Python SDK `read` method
  apps/web/src/app/(docs)/docs/filesystem/download/page.mdx
  apps/web/src/app/(docs)/docs/quickstart/upload-download-files/page.mdx
Labels: bug, docs
