Repository e2b-dev/E2B, changes with the owners that CODEOWNERS names for each.
All owners: @jakubno, @ValentaTomas, @ben-fornefeld, @mlejva, @mishushakov

removed types-specific handling
  packages/js-sdk/scripts/generate_sdk_ref.sh
  packages/python-sdk/scripts/generate_sdk_ref.sh
Owners: @jakubno, @ValentaTomas, @mishushakov

ts exports
  packages/js-sdk/src/index.ts
  packages/js-sdk/src/template/index.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

re-organized exports for better reference
  packages/js-sdk/src/index.ts
  packages/js-sdk/src/template/index.ts
  packages/js-sdk/typedoc.json
Owners: @jakubno, @ValentaTomas, @mishushakov

Move template exceptions to shared (#953)
  .changeset/friendly-news-whisper.md
  packages/js-sdk/src/errors.ts
  packages/js-sdk/src/index.ts
  packages/js-sdk/src/template/buildApi.ts
  packages/js-sdk/src/template/errors.ts
  packages/python-sdk/e2b/__init__.py
  packages/python-sdk/e2b/exceptions.py
  packages/python-sdk/e2b/template/exceptions.py
  packages/python-sdk/e2b/template_async/build_api.py
  packages/python-sdk/e2b/template_sync/build_api.py
Owners: @jakubno, @ValentaTomas, @mishushakov

python fix reference
  apps/web/prebuild.js
  packages/python-sdk/scripts/generate_sdk_ref.sh
Owners: @jakubno, @ben-fornefeld, @ValentaTomas, @mishushakov

formatting
  apps/web/prebuild.js
Owners: @jakubno, @ben-fornefeld

explicit export
  packages/js-sdk/src/index.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

generate sdk vars
  packages/js-sdk/scripts/generate_sdk_ref.sh
Owners: @jakubno, @ValentaTomas, @mishushakov

reverted to *
  packages/js-sdk/src/index.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

reverted comment
  packages/js-sdk/src/template/index.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

SDK reference: display submodules in the sidebar (#960)
  apps/web/prebuild.js
  packages/js-sdk/scripts/generate_sdk_ref.sh
  packages/js-sdk/src/index.ts
  packages/js-sdk/src/template/index.ts
  packages/js-sdk/typedoc.json
  packages/python-sdk/scripts/generate_sdk_ref.sh
Owners: @jakubno, @ben-fornefeld, @ValentaTomas, @mishushakov

Revert "Add a postinstall that downloads chromium (#962)"
  .github/workflows/js_sdk_tests.yml
  .github/workflows/release_candidates.yml
  packages/js-sdk/package.json
Owners: @jakubno, @ValentaTomas, @mishushakov

Revert "Add a postinstall that downloads chromium" (#964)
  .github/workflows/js_sdk_tests.yml
  .github/workflows/release_candidates.yml
  packages/js-sdk/package.json
Owners: @jakubno, @ValentaTomas, @mishushakov

Build System v2 Introduction (#957)
  .changeset/silly-rockets-cheer.md
  packages/cli/src/commands/template/build.ts
  packages/cli/src/commands/template/create.ts
  packages/cli/src/commands/template/index.ts
  packages/cli/src/commands/template/init-v2.ts
  packages/cli/src/commands/template/init.ts
  packages/cli/tests/commands/template/init.test.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

import chalk dynamically
  packages/js-sdk/src/template/logger.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

remove npx from pkgJson update script
  packages/cli/src/commands/template/init-v2.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

fix package install user
  .changeset/wild-beds-lie.md
  packages/js-sdk/src/template/index.ts
  packages/js-sdk/src/template/types.ts
  packages/python-sdk/e2b/template/main.py
Owners: @jakubno, @ValentaTomas, @mishushakov

implement suggestions
  packages/js-sdk/src/template/index.ts
  packages/js-sdk/src/template/types.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

Fix global packages permissions error (#967)
  .changeset/wild-beds-lie.md
  packages/js-sdk/src/template/index.ts
  packages/js-sdk/src/template/types.ts
  packages/python-sdk/e2b/template/main.py
Owners: @jakubno, @ValentaTomas, @mishushakov

fix publish config
  packages/cli/src/commands/template/publish.ts
  packages/cli/tests/commands/template/publish.test.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

fix delete config
  packages/cli/src/commands/template/delete.ts
  packages/cli/tests/commands/template/delete.test.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

fix changelog
  .changeset/hungry-carpets-sit.md
Owners: @jakubno, @ValentaTomas

remove pnpm build
  packages/cli/tests/setup.ts
  packages/cli/vitest.config.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

can't null coallesce an empty string
  packages/js-sdk/src/connectionConfig.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

fix CLI tests setup
  packages/cli/tests/setup.ts
  packages/cli/vitest.config.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

fix: CLI tests setup (#969)
  packages/cli/tests/setup.ts
  packages/cli/vitest.config.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

updated base template
  templates/base/build.dev.ts
  templates/base/build.prod.ts
  templates/base/e2b.Dockerfile
  templates/base/e2b.toml
  templates/base/package.json
  templates/base/template.ts
Owners: @jakubno, @ValentaTomas

remove build
  templates/base/package.json
Owners: @jakubno, @ValentaTomas

Fix e2b tpl publish/delete --config flag (#968)
  .changeset/hungry-carpets-sit.md
  packages/cli/src/commands/template/delete.ts
  packages/cli/src/commands/template/publish.ts
  packages/cli/tests/commands/template/delete.test.ts
  packages/cli/tests/commands/template/publish.test.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

Add mcp to request body (#961)
  .changeset/thin-yaks-switch.md
  packages/js-sdk/src/api/schema.gen.ts
  packages/js-sdk/src/sandbox/sandboxApi.ts
  packages/js-sdk/tests/sandbox/timeout.test.ts
  packages/python-sdk/e2b/api/client/models/new_sandbox.py
  packages/python-sdk/e2b/sandbox_async/main.py
  packages/python-sdk/e2b/sandbox_async/sandbox_api.py
  packages/python-sdk/e2b/sandbox_sync/main.py
  packages/python-sdk/e2b/sandbox_sync/sandbox_api.py
  packages/python-sdk/poetry.lock
  packages/python-sdk/tests/async/sandbox_async/test_timeout.py
  packages/python-sdk/tests/sync/sandbox_sync/test_timeout.py
  spec/openapi.yml
Owners: @jakubno, @ValentaTomas, @mishushakov

fix mcp gateway race condition
  .changeset/chilly-spoons-hear.md
  packages/js-sdk/src/sandbox/index.ts
  packages/python-sdk/e2b/sandbox_async/main.py
  packages/python-sdk/e2b/sandbox_sync/main.py
Owners: @jakubno, @ValentaTomas, @mishushakov

fix tpl
  packages/python-sdk/e2b/sandbox/main.py
Owners: @jakubno, @ValentaTomas, @mishushakov

Fix mcp gateway race condition (#971)
  .changeset/chilly-spoons-hear.md
  packages/js-sdk/src/sandbox/index.ts
  packages/python-sdk/e2b/sandbox/main.py
  packages/python-sdk/e2b/sandbox_async/main.py
  packages/python-sdk/e2b/sandbox_sync/main.py
Owners: @jakubno, @ValentaTomas, @mishushakov

fix to_docker command RUN and COPY
  packages/js-sdk/src/template/index.ts
  packages/python-sdk/e2b/template/main.py
Owners: @jakubno, @ValentaTomas, @mishushakov

changeset
  .changeset/wise-pandas-compete.md
Owners: @jakubno, @ValentaTomas

added tests
  packages/js-sdk/tests/template/methods/pipInstall.test.ts
  packages/js-sdk/tests/template/methods/toDockerfile.test.ts
  packages/python-sdk/tests/async/template_async/methods/test_pip_install.py
  packages/python-sdk/tests/async/template_async/methods/test_to_dockerfile.py
  packages/python-sdk/tests/sync/template_sync/methods/test_to_dockerfile.py
Owners: @jakubno, @ValentaTomas, @mishushakov

Fix .toDocker RUN and COPY handling (#972)
  .changeset/wise-pandas-compete.md
  packages/js-sdk/src/template/index.ts
  packages/js-sdk/tests/template/methods/pipInstall.test.ts
  packages/js-sdk/tests/template/methods/toDockerfile.test.ts
  packages/python-sdk/e2b/template/main.py
  packages/python-sdk/tests/async/template_async/methods/test_pip_install.py
  packages/python-sdk/tests/async/template_async/methods/test_to_dockerfile.py
  packages/python-sdk/tests/sync/template_sync/methods/test_to_dockerfile.py
Owners: @jakubno, @ValentaTomas, @mishushakov

revert timeout changes
  packages/js-sdk/tests/sandbox/timeout.test.ts
  packages/python-sdk/tests/async/sandbox_async/test_timeout.py
  packages/python-sdk/tests/sync/sandbox_sync/test_timeout.py
Owners: @jakubno, @ValentaTomas, @mishushakov

revert timeout changes
  packages/js-sdk/tests/sandbox/timeout.test.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

Revert timeout changes in tests (#973)
  packages/js-sdk/tests/sandbox/timeout.test.ts
  packages/python-sdk/tests/async/sandbox_async/test_timeout.py
  packages/python-sdk/tests/sync/sandbox_sync/test_timeout.py
Owners: @jakubno, @ValentaTomas, @mishushakov

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
* @jakubno @ValentaTomas

# Web
apps/web @jakubno @ben-fornefeld
apps/web/src/app/(docs)/docs @mlejva

# SDKs
packages @jakubno @ValentaTomas @mishushakov
packages/connect-python @ValentaTomas
