Repository e2b-dev/E2B, changes with the owners that CODEOWNERS names for each.
All owners: @jakubno, @ValentaTomas, @ben-fornefeld, @mlejva, @mishushakov

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
* @jakubno @ValentaTomas

# Web
apps/web @jakubno @ben-fornefeld
apps/web/src/app/(docs)/docs @mlejva

# SDKs
packages @jakubno @ValentaTomas @mishushakov
packages/connect-python @ValentaTomas

Revert Python get_all_files_in_path to original implementation
  packages/python-sdk/e2b/template/utils.py
Owners: @jakubno, @ValentaTomas, @mishushakov

Remove changeset (no code changes)
  .changeset/itchy-planes-carry.md
Owners: @jakubno, @ValentaTomas

Simplify getAllFilesInPath by using single glob call with multiple patterns
  packages/js-sdk/src/template/utils.ts
  packages/python-sdk/e2b/template/utils.py
Owners: @jakubno, @ValentaTomas, @mishushakov

fix(python-sdk): missing functions in async sandbox
  packages/python-sdk/e2b/sandbox_async/git.py
  packages/python-sdk/tests/shared/git/test_parity.py
Owners: @jakubno, @ValentaTomas, @mishushakov

fix(python-sdk): missing functions in AsyncSandbox.git (#1109)
  packages/python-sdk/e2b/sandbox_async/git.py
  packages/python-sdk/tests/shared/git/test_parity.py
Owners: @jakubno, @ValentaTomas, @mishushakov

switch asyncio.iscoroutinefunction to inspect.
  packages/python-sdk/tests/shared/git/test_parity.py
Owners: @jakubno, @ValentaTomas, @mishushakov

start consolidating logic for sync/async git
  packages/python-sdk/e2b/__init__.py
  packages/python-sdk/e2b/sandbox/git/__init__.py
  packages/python-sdk/e2b/sandbox/git/args.py
  packages/python-sdk/e2b/sandbox/git/auth.py
  packages/python-sdk/e2b/sandbox/git/config.py
  packages/python-sdk/e2b/sandbox/git/parse.py
  packages/python-sdk/e2b/sandbox/git/types.py
  packages/python-sdk/e2b/sandbox_async/git.py
  packages/python-sdk/e2b/sandbox_sync/git.py
Owners: @jakubno, @ValentaTomas, @mishushakov

git: centralize remote url helpers
  packages/python-sdk/e2b/sandbox/git/__init__.py
  packages/python-sdk/e2b/sandbox/git/args.py
  packages/python-sdk/e2b/sandbox/git/parse.py
  packages/python-sdk/e2b/sandbox_async/git.py
  packages/python-sdk/e2b/sandbox_sync/git.py
Owners: @jakubno, @ValentaTomas, @mishushakov

changeset
  .changeset/icy-ideas-burn.md
Owners: @jakubno, @ValentaTomas

feat: snapshots
  packages/js-sdk/src/api/schema.gen.ts
  packages/js-sdk/src/index.ts
  packages/js-sdk/src/sandbox/commands/index.ts
  packages/js-sdk/src/sandbox/commands/pty.ts
  packages/js-sdk/src/sandbox/filesystem/index.ts
  packages/js-sdk/src/sandbox/index.ts
  packages/js-sdk/src/sandbox/sandboxApi.ts
  packages/js-sdk/tests/sandbox/snapshot-api.test.ts
  packages/python-sdk/e2b/api/client/api/sandboxes/post_sandboxes_sandbox_id_snapshots.py
  packages/python-sdk/e2b/api/client/models/__init__.py
  packages/python-sdk/e2b/api/client/models/snapshot_info.py
  spec/openapi.yml
Owners: @jakubno, @ValentaTomas, @mishushakov

fix: buffer tar.gz stream to prevent Content-Length mismatch in file upload
  packages/js-sdk/src/template/utils.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

cli: add exec helper utilities
  packages/cli/src/commands/sandbox/exec_helpers.ts
  packages/cli/tests/commands/sandbox/exec_helpers.test.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

cli: stream stdin for exec
  packages/cli/src/commands/sandbox/exec.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

cli: add pipe smoke script
  packages/cli/scripts/pipe_smoke.sh
Owners: @jakubno, @ValentaTomas, @mishushakov

cli: add scripts README
  packages/cli/scripts/README.md
Owners: @jakubno, @ValentaTomas, @mishushakov

cli: read piped stdin in exec
  packages/cli/src/commands/sandbox/exec.ts
  packages/cli/src/commands/sandbox/exec_helpers.ts
  packages/cli/tests/commands/sandbox/exec_helpers.test.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

cli: read domain from user config
  packages/cli/src/api.ts
  packages/cli/src/commands/sandbox/connect.ts
  packages/cli/src/commands/sandbox/create.ts
  packages/cli/src/commands/sandbox/exec.ts
  packages/cli/src/commands/sandbox/kill.ts
  packages/cli/src/commands/sandbox/list.ts
  packages/cli/src/user.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

cli: add exec piping integration test
  packages/cli/tests/commands/sandbox/exec_pipe.test.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

match mark.skip_debug() logic
  packages/cli/tests/commands/sandbox/exec_pipe.test.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

cli: create-headless just gets a box id, doesn't open shell
  packages/cli/src/commands/sandbox/create_headless.ts
  packages/cli/src/commands/sandbox/index.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

fix: JS should return an error if body is empty
  .changeset/fix-empty-error-body-handling.md
  packages/js-sdk/src/api/index.ts
  packages/js-sdk/tests/api/handleApiError.test.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

fix: format test file
  packages/js-sdk/tests/api/handleApiError.test.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

fix: JS should return an error if body is empty (#1114)
  .changeset/fix-empty-error-body-handling.md
  packages/js-sdk/src/api/index.ts
  packages/js-sdk/tests/api/handleApiError.test.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

add `_` to the internal python git methods to distinguish from public
  packages/python-sdk/e2b/__init__.py
  packages/python-sdk/e2b/sandbox/_git/__init__.py
  packages/python-sdk/e2b/sandbox/_git/args.py
  packages/python-sdk/e2b/sandbox/_git/auth.py
  packages/python-sdk/e2b/sandbox/_git/config.py
  packages/python-sdk/e2b/sandbox/_git/parse.py
  packages/python-sdk/e2b/sandbox/_git/types.py
  packages/python-sdk/e2b/sandbox/git_utils.py
  packages/python-sdk/e2b/sandbox_async/git.py
  packages/python-sdk/e2b/sandbox_sync/git.py
Owners: @jakubno, @ValentaTomas, @mishushakov

rm redundant utils file cause exposed by init
  packages/python-sdk/e2b/sandbox/git_utils.py
Owners: @jakubno, @ValentaTomas, @mishushakov

fix: Improve sandbox.git async/sync parity (#1110)
  .changeset/icy-ideas-burn.md
  packages/python-sdk/e2b/__init__.py
  packages/python-sdk/e2b/sandbox/_git/__init__.py
  packages/python-sdk/e2b/sandbox/_git/args.py
  packages/python-sdk/e2b/sandbox/_git/auth.py
  packages/python-sdk/e2b/sandbox/_git/config.py
  packages/python-sdk/e2b/sandbox/_git/parse.py
  packages/python-sdk/e2b/sandbox/_git/types.py
  packages/python-sdk/e2b/sandbox/git_utils.py
  packages/python-sdk/e2b/sandbox_async/git.py
  packages/python-sdk/e2b/sandbox_sync/git.py
  packages/python-sdk/tests/shared/git/test_parity.py
Owners: @jakubno, @ValentaTomas, @mishushakov

tests class parity with the Sandbox, Template
  packages/python-sdk/tests/shared/test_class_parity.py
Owners: @jakubno, @ValentaTomas, @mishushakov

autoResume: python sdk now has autoresume
  packages/js-sdk/src/api/schema.gen.ts
  packages/js-sdk/src/sandbox/sandboxApi.ts
  packages/python-sdk/e2b/api/client/models/new_sandbox.py
  packages/python-sdk/e2b/sandbox_async/main.py
  packages/python-sdk/e2b/sandbox_async/sandbox_api.py
  packages/python-sdk/e2b/sandbox_sync/main.py
  packages/python-sdk/e2b/sandbox_sync/sandbox_api.py
  spec/openapi.yml
Owners: @jakubno, @ValentaTomas, @mishushakov

auto-resume: autoResume is nullable
  apps/web/src/app/(docs)/docs/sdk-reference/js-sdk/v2.12.0/sandbox/page.mdx
  packages/js-sdk/src/api/schema.gen.ts
  packages/js-sdk/src/sandbox/sandboxApi.ts
  packages/js-sdk/tests/sandbox/autoResume.test.ts
  packages/python-sdk/e2b/api/client/models/new_sandbox.py
  packages/python-sdk/tests/sync/api/test_new_sandbox.py
  spec/openapi.yml
Owners: @mlejva, @jakubno, @ValentaTomas, @mishushakov

simplify path validation to use native cross-platform APIs
  packages/js-sdk/src/template/utils.ts
  packages/js-sdk/tests/template/utils/validateRelativePath.test.ts
  packages/python-sdk/e2b/template/utils.py
  packages/python-sdk/tests/shared/template/utils/test_validate_relative_path.py
Owners: @jakubno, @ValentaTomas, @mishushakov

refactor: extract make_traceback utility function
  packages/python-sdk/e2b/template/main.py
  packages/python-sdk/e2b/template/utils.py
Owners: @jakubno, @ValentaTomas, @mishushakov

allow apt tests to fail
  packages/js-sdk/tests/template/methods/aptInstall.test.ts
  packages/python-sdk/tests/async/template_async/methods/test_apt_install.py
  packages/python-sdk/tests/sync/template_sync/methods/test_apt_install.py
Owners: @jakubno, @ValentaTomas, @mishushakov

fix: Use Vitest .fails() instead of try-catch for apt tests
  packages/js-sdk/tests/template/methods/aptInstall.test.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

fix: Add buildTemplateTestXFail helper for optional tests
  packages/js-sdk/tests/setup.ts
  packages/js-sdk/tests/template/methods/aptInstall.test.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

fix: Use object destructuring in buildTemplateTestXFail
  packages/js-sdk/tests/setup.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

refactor: Rename buildTemplateTestXFail to buildTemplateTestAllowFail
  packages/js-sdk/tests/setup.ts
  packages/js-sdk/tests/template/methods/aptInstall.test.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

refactor: Add generic allowFail wrapper for tests
  packages/js-sdk/tests/setup.ts
  packages/js-sdk/tests/template/methods/aptInstall.test.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

fix: Use object destructuring in allowFail wrapper
  packages/js-sdk/tests/setup.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

fix: Use specific buildTemplateTestAllowFail wrapper
  packages/js-sdk/tests/setup.ts
  packages/js-sdk/tests/template/methods/aptInstall.test.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

feat: validate copy src paths are relative and within context directory (#1106)
  .changeset/every-feet-attack.md
  packages/js-sdk/src/template/index.ts
  packages/js-sdk/src/template/utils.ts
  packages/js-sdk/tests/template/stacktrace.test.ts
  packages/js-sdk/tests/template/utils/validateRelativePath.test.ts
  packages/python-sdk/e2b/template/main.py
  packages/python-sdk/e2b/template/utils.py
  packages/python-sdk/tests/async/template_async/test_stacktrace.py
  packages/python-sdk/tests/shared/template/utils/test_validate_relative_path.py
  packages/python-sdk/tests/sync/template_sync/test_stacktrace.py
Owners: @jakubno, @ValentaTomas, @mishushakov
