Repository e2b-dev/E2B, changes with the owners that CODEOWNERS names for each.
All owners: @jakubno, @ValentaTomas, @ben-fornefeld, @mlejva, @mishushakov

found some missing parsers, upgraded to 2.1.1
  .github/workflows/cli_tests.yml
  .github/workflows/generated_files.yml
  .github/workflows/js_sdk_tests.yml
  .github/workflows/lint.yml
  .github/workflows/publish_packages.yml
  .github/workflows/python_sdk_tests.yml
  .github/workflows/release.yml
  .github/workflows/release_candidates.yml
Owners: @jakubno, @ValentaTomas

feat: keep user and workdir from the template in the sandbox (#944)
  .changeset/nervous-seahorses-deliver.md
  packages/js-sdk/.prettierignore
  packages/js-sdk/src/api/schema.gen.ts
  packages/js-sdk/src/connectionConfig.ts
  packages/js-sdk/src/envd/rpc.ts
  packages/js-sdk/src/envd/schema.gen.ts
  packages/js-sdk/src/envd/versions.ts
  packages/js-sdk/src/sandbox/commands/index.ts
  packages/js-sdk/src/sandbox/commands/pty.ts
  packages/js-sdk/src/sandbox/filesystem/index.ts
  packages/js-sdk/src/sandbox/index.ts
  packages/js-sdk/src/sandbox/signature.ts
  packages/python-sdk/e2b/connection_config.py
  packages/python-sdk/e2b/envd/rpc.py
  packages/python-sdk/e2b/envd/versions.py
  packages/python-sdk/e2b/sandbox/main.py
  packages/python-sdk/e2b/sandbox/signature.py
  packages/python-sdk/e2b/sandbox_async/commands/command.py
  packages/python-sdk/e2b/sandbox_async/commands/pty.py
  packages/python-sdk/e2b/sandbox_async/filesystem/filesystem.py
  packages/python-sdk/e2b/sandbox_async/main.py
  packages/python-sdk/e2b/sandbox_sync/commands/command.py
  packages/python-sdk/e2b/sandbox_sync/commands/pty.py
  packages/python-sdk/e2b/sandbox_sync/filesystem/filesystem.py
  packages/python-sdk/e2b/sandbox_sync/main.py
  spec/envd/envd.yaml
Owners: @jakubno, @ValentaTomas, @mishushakov

fix template tests
  packages/js-sdk/tests/template/stacktrace.test.ts
  packages/python-sdk/tests/async/template_async/test_stacktrace.py
Owners: @jakubno, @ValentaTomas, @mishushakov

fix python tests
  packages/python-sdk/tests/async/template_async/test_stacktrace.py
  packages/python-sdk/tests/sync/template_sync/test_stacktrace.py
Owners: @jakubno, @ValentaTomas, @mishushakov

fix: template tests after infra update (#956)
  packages/js-sdk/tests/template/stacktrace.test.ts
  packages/python-sdk/tests/async/template_async/test_stacktrace.py
  packages/python-sdk/tests/sync/template_sync/test_stacktrace.py
Owners: @jakubno, @ValentaTomas, @mishushakov

Remove sharp
  apps/web/package.json
  pnpm-lock.yaml
Owners: @jakubno, @ben-fornefeld, @ValentaTomas

build system v2 introduction
  .changeset/silly-rockets-cheer.md
  packages/cli/src/commands/template/build.ts
  packages/cli/src/commands/template/create.ts
  packages/cli/src/commands/template/index.ts
  packages/cli/src/commands/template/init-v2.ts
  packages/cli/src/commands/template/init.ts
  packages/cli/tests/commands/template/init.test.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

comment fromDockerfile stacktrace tests for now
  packages/js-sdk/tests/template/stacktrace.test.ts
  packages/python-sdk/tests/async/template_async/test_stacktrace.py
  packages/python-sdk/tests/sync/template_sync/test_stacktrace.py
Owners: @jakubno, @ValentaTomas, @mishushakov

fix required
  packages/cli/src/commands/template/create.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

stack trace override for fromDocker
  packages/js-sdk/src/template/index.ts
  packages/js-sdk/tests/template/stacktrace.test.ts
  packages/python-sdk/e2b/template/main.py
  packages/python-sdk/tests/async/template_async/test_stacktrace.py
  packages/python-sdk/tests/sync/template_sync/test_stacktrace.py
Owners: @jakubno, @ValentaTomas, @mishushakov

fix type
  packages/python-sdk/e2b/template/main.py
Owners: @jakubno, @ValentaTomas, @mishushakov

fix typo
  packages/js-sdk/tests/template/stacktrace.test.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

undo remove collect
  packages/js-sdk/src/template/index.ts
  packages/python-sdk/e2b/template/main.py
Owners: @jakubno, @ValentaTomas, @mishushakov

uncommented passing stack traces tests
  packages/js-sdk/tests/template/stacktrace.test.ts
  packages/python-sdk/tests/async/template_async/test_stacktrace.py
  packages/python-sdk/tests/sync/template_sync/test_stacktrace.py
Owners: @jakubno, @ValentaTomas, @mishushakov

format
  packages/python-sdk/tests/async/template_async/test_stacktrace.py
Owners: @jakubno, @ValentaTomas, @mishushakov

added comment
  packages/js-sdk/src/template/index.ts
  packages/python-sdk/e2b/template/main.py
Owners: @jakubno, @ValentaTomas, @mishushakov

added changeset
  .changeset/new-birds-pump.md
Owners: @jakubno, @ValentaTomas

fix referecncegeneration
  packages/js-sdk/scripts/generate_sdk_ref.sh
Owners: @jakubno, @ValentaTomas, @mishushakov

js
  apps/web/prebuild.js
  packages/js-sdk/typedoc.json
Owners: @jakubno, @ben-fornefeld, @ValentaTomas, @mishushakov

python fixes
  packages/python-sdk/scripts/generate_sdk_ref.sh
Owners: @jakubno, @ValentaTomas, @mishushakov

deduplicate logic
  packages/python-sdk/scripts/generate_sdk_ref.sh
Owners: @jakubno, @ValentaTomas, @mishushakov

Implement stack traces override context for fromDockerfile (#959)
  .changeset/new-birds-pump.md
  packages/js-sdk/src/template/index.ts
  packages/js-sdk/tests/template/stacktrace.test.ts
  packages/python-sdk/e2b/template/main.py
  packages/python-sdk/tests/async/template_async/test_stacktrace.py
  packages/python-sdk/tests/sync/template_sync/test_stacktrace.py
Owners: @jakubno, @ValentaTomas, @mishushakov

types
  packages/js-sdk/scripts/generate_sdk_ref.sh
  packages/js-sdk/src/template/index.ts
  packages/js-sdk/typedoc.json
  packages/python-sdk/scripts/generate_sdk_ref.sh
Owners: @jakubno, @ValentaTomas, @mishushakov

add mcp to req body
  packages/js-sdk/src/sandbox/sandboxApi.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

add mcp to req body in python
  packages/python-sdk/e2b/api/client/models/new_sandbox.py
  packages/python-sdk/e2b/sandbox_async/main.py
  packages/python-sdk/e2b/sandbox_async/sandbox_api.py
  packages/python-sdk/e2b/sandbox_sync/main.py
  packages/python-sdk/e2b/sandbox_sync/sandbox_api.py
Owners: @jakubno, @ValentaTomas, @mishushakov

changeset
  .changeset/thin-yaks-switch.md
Owners: @jakubno, @ValentaTomas

fix codegen
  packages/js-sdk/src/api/schema.gen.ts
  packages/python-sdk/e2b/api/client/models/__init__.py
  packages/python-sdk/e2b/api/client/models/new_sandbox.py
  packages/python-sdk/e2b/api/client/models/new_sandbox_mcp.py
  spec/openapi.yml
Owners: @jakubno, @ValentaTomas, @mishushakov

fix codegen
  packages/js-sdk/src/api/schema.gen.ts
  packages/python-sdk/e2b/api/client/models/__init__.py
  packages/python-sdk/e2b/api/client/models/new_sandbox.py
  packages/python-sdk/e2b/api/client/models/new_sandbox_mcp.py
  spec/openapi.yml
Owners: @jakubno, @ValentaTomas, @mishushakov

fix codegen
  packages/js-sdk/src/sandbox/sandboxApi.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

fmt
  packages/js-sdk/src/sandbox/sandboxApi.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

Bump sharp (#958)
  apps/web/package.json
  pnpm-lock.yaml
Owners: @jakubno, @ben-fornefeld, @ValentaTomas

fix timeouts
  packages/js-sdk/tests/sandbox/timeout.test.ts
  packages/python-sdk/tests/async/sandbox_async/test_timeout.py
  packages/python-sdk/tests/sync/sandbox_sync/test_timeout.py
Owners: @jakubno, @ValentaTomas, @mishushakov

try higher timeout
  packages/js-sdk/tests/sandbox/timeout.test.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

lower timeout
  packages/js-sdk/tests/sandbox/timeout.test.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

add a postinstall that downloads chromium
  .github/workflows/js_sdk_tests.yml
  .github/workflows/release_candidates.yml
  packages/js-sdk/package.json
Owners: @jakubno, @ValentaTomas, @mishushakov

Add a postinstall that downloads chromium (#962)
  .github/workflows/js_sdk_tests.yml
  .github/workflows/release_candidates.yml
  packages/js-sdk/package.json
Owners: @jakubno, @ValentaTomas, @mishushakov

Use .tool-versions file to sync local dev and github actions (#955)
  .github/workflows/cli_tests.yml
  .github/workflows/generated_files.yml
  .github/workflows/js_sdk_tests.yml
  .github/workflows/lint.yml
  .github/workflows/publish_packages.yml
  .github/workflows/python_sdk_tests.yml
  .github/workflows/release.yml
  .github/workflows/release_candidates.yml
  .tool-versions
Owners: @jakubno, @ValentaTomas

remove unnecessary override
  packages/cli/src/api.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

fix type
  packages/python-sdk/e2b/sandbox_sync/sandbox_api.py
  packages/python-sdk/poetry.lock
Owners: @jakubno, @ValentaTomas, @mishushakov

fix type
  packages/python-sdk/e2b/sandbox_async/sandbox_api.py
Owners: @jakubno, @ValentaTomas, @mishushakov

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
* @jakubno @ValentaTomas

# Web
apps/web @jakubno @ben-fornefeld
apps/web/src/app/(docs)/docs @mlejva

# SDKs
packages @jakubno @ValentaTomas @mishushakov
packages/connect-python @ValentaTomas
