Repository e2b-dev/E2B, changes with the owners that CODEOWNERS names for each.
All owners: @jakubno, @ValentaTomas, @ben-fornefeld, @mlejva, @mishushakov

add changeset
  .changeset/tiny-lies-wink.md
Owners: @jakubno, @ValentaTomas

Fix write
  packages/js-sdk/src/envd/api.ts
  packages/js-sdk/src/sandbox/filesystem/index.ts
  packages/js-sdk/tests/runtimes/bun/run.test.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

regenerate spec
  packages/python-sdk/e2b/api/client/api/sandboxes/delete_sandboxes_sandbox_id.py
  packages/python-sdk/e2b/api/client/api/sandboxes/get_sandboxes.py
  packages/python-sdk/e2b/api/client/api/sandboxes/get_sandboxes_metrics.py
  packages/python-sdk/e2b/api/client/api/sandboxes/get_sandboxes_sandbox_id.py
  packages/python-sdk/e2b/api/client/api/sandboxes/get_sandboxes_sandbox_id_logs.py
  packages/python-sdk/e2b/api/client/api/sandboxes/get_sandboxes_sandbox_id_metrics.py
  packages/python-sdk/e2b/api/client/api/sandboxes/get_v2_sandboxes.py
  packages/python-sdk/e2b/api/client/api/sandboxes/post_sandboxes.py
  packages/python-sdk/e2b/api/client/api/sandboxes/post_sandboxes_sandbox_id_pause.py
  packages/python-sdk/e2b/api/client/api/sandboxes/post_sandboxes_sandbox_id_refreshes.py
  packages/python-sdk/e2b/api/client/api/sandboxes/post_sandboxes_sandbox_id_resume.py
  packages/python-sdk/e2b/api/client/api/sandboxes/post_sandboxes_sandbox_id_timeout.py
  packages/python-sdk/e2b/api/client/api/templates/delete_templates_template_id.py
  packages/python-sdk/e2b/api/client/api/templates/get_templates.py
  packages/python-sdk/e2b/api/client/api/templates/get_templates_template_id_builds_build_id_status.py
  packages/python-sdk/e2b/api/client/api/templates/get_templates_template_id_files_hash.py
  packages/python-sdk/e2b/api/client/api/templates/patch_templates_template_id.py
  packages/python-sdk/e2b/api/client/api/templates/post_templates.py
  packages/python-sdk/e2b/api/client/api/templates/post_templates_template_id.py
  packages/python-sdk/e2b/api/client/api/templates/post_templates_template_id_builds_build_id.py
  packages/python-sdk/e2b/api/client/api/templates/post_v2_templates.py
  packages/python-sdk/e2b/api/client/api/templates/post_v_2_templates_template_id_builds_build_id.py
  spec/envd/envd.yaml
Owners: @jakubno, @ValentaTomas, @mishushakov

Simplify codegen generate
  Makefile
Owners: @jakubno, @ValentaTomas

fix lint
  packages/python-sdk/e2b/connection_config.py
Owners: @jakubno, @ValentaTomas, @mishushakov

Fix types
  packages/js-sdk/src/envd/api.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

Lint
  packages/js-sdk/src/envd/api.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

Add changeset
  .changeset/little-students-float.md
Owners: @jakubno, @ValentaTomas

update descriptions
  apps/web/src/app/layout.tsx
Owners: @jakubno, @ben-fornefeld

yolo
  packages/js-sdk/src/template/index.ts
  packages/js-sdk/src/template/logger.ts
  packages/js-sdk/src/template/readycmd.ts
  packages/js-sdk/src/template/types.ts
  packages/js-sdk/src/template/utils.ts
  packages/js-sdk/src/utils.ts
  packages/python-sdk/e2b/template/logger.py
  packages/python-sdk/e2b/template/main.py
  packages/python-sdk/e2b/template/readycmd.py
Owners: @jakubno, @ValentaTomas, @mishushakov

Update openapi fetch (#929)
  .changeset/little-students-float.md
  packages/js-sdk/package.json
  packages/js-sdk/src/envd/api.ts
  packages/js-sdk/src/logs.ts
  packages/js-sdk/src/sandbox/filesystem/index.ts
  packages/js-sdk/tests/runtimes/bun/run.test.ts
  pnpm-lock.yaml
Owners: @jakubno, @ValentaTomas, @mishushakov

Simplify codegen generate (#951)
  Makefile
Owners: @jakubno, @ValentaTomas

updated docstring format in python
  packages/python-sdk/e2b/template/dockerfile_parser.py
  packages/python-sdk/e2b/template/logger.py
  packages/python-sdk/e2b/template/main.py
  packages/python-sdk/e2b/template/readycmd.py
  packages/python-sdk/e2b/template/utils.py
Owners: @jakubno, @ValentaTomas, @mishushakov

trigger releases manually
  .github/workflows/release.yml
Owners: @jakubno, @ValentaTomas

Trigger releases manually (#952)
  .github/workflows/release.yml
Owners: @jakubno, @ValentaTomas

removed empty comments
  packages/js-sdk/src/template/readycmd.ts
  packages/js-sdk/src/utils.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

update docstring format in sync/async py build
  packages/python-sdk/e2b/template_async/main.py
  packages/python-sdk/e2b/template_sync/main.py
Owners: @jakubno, @ValentaTomas, @mishushakov

update type
  packages/js-sdk/src/connectionConfig.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

nits
  packages/js-sdk/src/utils.ts
  packages/python-sdk/e2b/template/readycmd.py
  packages/python-sdk/e2b/template_async/main.py
  packages/python-sdk/e2b/template_sync/main.py
Owners: @jakubno, @ValentaTomas, @mishushakov

Add docstrings to public-facing template methods (#943)
  .changeset/fresh-dolphins-listen.md
  packages/js-sdk/src/index.ts
  packages/js-sdk/src/template/consts.ts
  packages/js-sdk/src/template/errors.ts
  packages/js-sdk/src/template/index.ts
  packages/js-sdk/src/template/logger.ts
  packages/js-sdk/src/template/readycmd.ts
  packages/js-sdk/src/template/types.ts
  packages/js-sdk/src/template/utils.ts
  packages/python-sdk/e2b/template/consts.py
  packages/python-sdk/e2b/template/dockerfile_parser.py
  packages/python-sdk/e2b/template/exceptions.py
  packages/python-sdk/e2b/template/logger.py
  packages/python-sdk/e2b/template/main.py
  packages/python-sdk/e2b/template/readycmd.py
  packages/python-sdk/e2b/template/types.py
  packages/python-sdk/e2b/template/utils.py
  packages/python-sdk/e2b/template_async/main.py
  packages/python-sdk/e2b/template_sync/main.py
Owners: @jakubno, @ValentaTomas, @mishushakov

moved exceptions to common
  packages/js-sdk/src/errors.ts
  packages/js-sdk/src/index.ts
  packages/js-sdk/src/template/buildApi.ts
  packages/js-sdk/src/template/errors.ts
  packages/python-sdk/e2b/__init__.py
  packages/python-sdk/e2b/exceptions.py
  packages/python-sdk/e2b/template/exceptions.py
  packages/python-sdk/e2b/template_async/build_api.py
  packages/python-sdk/e2b/template_sync/build_api.py
Owners: @jakubno, @ValentaTomas, @mishushakov

added changeset
  .changeset/friendly-news-whisper.md
Owners: @jakubno, @ValentaTomas

format
  packages/python-sdk/e2b/exceptions.py
Owners: @jakubno, @ValentaTomas, @mishushakov

rename token
  packages/js-sdk/src/sandbox/index.ts
  packages/python-sdk/e2b/sandbox_async/main.py
  packages/python-sdk/e2b/sandbox_sync/main.py
Owners: @jakubno, @ValentaTomas, @mishushakov

add sdk reference docs to the search
  apps/web/src/components/Search.tsx
  apps/web/src/mdx/search.mjs
Owners: @jakubno, @ben-fornefeld

use root
  packages/js-sdk/src/sandbox/index.ts
  packages/python-sdk/e2b/sandbox_async/main.py
  packages/python-sdk/e2b/sandbox_sync/main.py
Owners: @jakubno, @ValentaTomas, @mishushakov

move undefined username handling inside getSignature
  packages/js-sdk/src/sandbox/index.ts
  packages/js-sdk/src/sandbox/signature.ts
  packages/python-sdk/e2b/sandbox/main.py
  packages/python-sdk/e2b/sandbox/signature.py
Owners: @jakubno, @ValentaTomas, @mishushakov

save token in file
  packages/js-sdk/src/sandbox/index.ts
  packages/python-sdk/e2b/sandbox_async/main.py
  packages/python-sdk/e2b/sandbox_sync/main.py
Owners: @jakubno, @ValentaTomas, @mishushakov

handle disconnect
  packages/js-sdk/src/sandbox/index.ts
  packages/python-sdk/e2b/sandbox_async/main.py
  packages/python-sdk/e2b/sandbox_sync/main.py
Owners: @jakubno, @ValentaTomas, @mishushakov

fix python classes
  packages/python-sdk/e2b/sandbox/main.py
  packages/python-sdk/e2b/sandbox_async/main.py
  packages/python-sdk/e2b/sandbox_sync/main.py
  packages/python-sdk/example.py
Owners: @jakubno, @ValentaTomas, @mishushakov

revert example
  packages/python-sdk/example.py
Owners: @jakubno, @ValentaTomas, @mishushakov

revert example
  packages/python-sdk/example.py
Owners: @jakubno, @ValentaTomas, @mishushakov

Add auth to MCP (#950)
  .changeset/pretty-planets-sneeze.md
  packages/js-sdk/src/sandbox/index.ts
  packages/python-sdk/e2b/sandbox/main.py
  packages/python-sdk/e2b/sandbox_async/main.py
  packages/python-sdk/e2b/sandbox_sync/main.py
Owners: @jakubno, @ValentaTomas, @mishushakov

update default text
  packages/js-sdk/src/sandbox/commands/index.ts
  packages/js-sdk/src/sandbox/commands/pty.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

set default user for dockerfiles
  packages/cli/src/templates/python-template.hbs
  packages/cli/src/templates/typescript-template.hbs
  packages/cli/tests/commands/template/fixtures/complex-python/expected/python-async/template.py
  packages/cli/tests/commands/template/fixtures/complex-python/expected/python-sync/template.py
  packages/cli/tests/commands/template/fixtures/complex-python/expected/typescript/template.ts
  packages/cli/tests/commands/template/fixtures/copy-variations/expected/python-async/template.py
  packages/cli/tests/commands/template/fixtures/copy-variations/expected/python-sync/template.py
  packages/cli/tests/commands/template/fixtures/copy-variations/expected/typescript/template.ts
  packages/cli/tests/commands/template/fixtures/custom-commands/expected/python-async/template.py
  packages/cli/tests/commands/template/fixtures/custom-commands/expected/python-sync/template.py
  packages/cli/tests/commands/template/fixtures/custom-commands/expected/typescript/template.ts
  packages/cli/tests/commands/template/fixtures/minimal-dockerfile/expected/python-async/template.py
  packages/cli/tests/commands/template/fixtures/minimal-dockerfile/expected/python-sync/template.py
  packages/cli/tests/commands/template/fixtures/minimal-dockerfile/expected/typescript/template.ts
  packages/cli/tests/commands/template/fixtures/multiple-env/expected/python-async/template.py
  packages/cli/tests/commands/template/fixtures/multiple-env/expected/python-sync/template.py
  packages/cli/tests/commands/template/fixtures/multiple-env/expected/typescript/template.ts
  packages/cli/tests/commands/template/fixtures/start-cmd/expected/python-async/template.py
  packages/cli/tests/commands/template/fixtures/start-cmd/expected/python-sync/template.py
  packages/cli/tests/commands/template/fixtures/start-cmd/expected/typescript/template.ts
  packages/js-sdk/src/template/dockerfileParser.ts
  packages/python-sdk/e2b/template/dockerfile_parser.py
Owners: @jakubno, @ValentaTomas, @mishushakov

fix migrate with non-existing toml file
  packages/cli/src/commands/template/migrate.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

fix relative import
  packages/cli/src/templates/python-build-async.hbs
  packages/cli/src/templates/python-build-sync.hbs
  packages/cli/tests/commands/template/fixtures/complex-python/expected/python-async/build_dev.py
  packages/cli/tests/commands/template/fixtures/complex-python/expected/python-async/build_prod.py
  packages/cli/tests/commands/template/fixtures/complex-python/expected/python-sync/build_dev.py
  packages/cli/tests/commands/template/fixtures/complex-python/expected/python-sync/build_prod.py
  packages/cli/tests/commands/template/fixtures/copy-variations/expected/python-async/build_dev.py
  packages/cli/tests/commands/template/fixtures/copy-variations/expected/python-async/build_prod.py
  packages/cli/tests/commands/template/fixtures/copy-variations/expected/python-sync/build_dev.py
  packages/cli/tests/commands/template/fixtures/copy-variations/expected/python-sync/build_prod.py
  packages/cli/tests/commands/template/fixtures/custom-commands/expected/python-async/build_dev.py
  packages/cli/tests/commands/template/fixtures/custom-commands/expected/python-async/build_prod.py
  packages/cli/tests/commands/template/fixtures/custom-commands/expected/python-sync/build_dev.py
  packages/cli/tests/commands/template/fixtures/custom-commands/expected/python-sync/build_prod.py
  packages/cli/tests/commands/template/fixtures/minimal-dockerfile/expected/python-async/build_dev.py
  packages/cli/tests/commands/template/fixtures/minimal-dockerfile/expected/python-async/build_prod.py
  packages/cli/tests/commands/template/fixtures/minimal-dockerfile/expected/python-sync/build_dev.py
  packages/cli/tests/commands/template/fixtures/minimal-dockerfile/expected/python-sync/build_prod.py
  packages/cli/tests/commands/template/fixtures/multi-stage/expected/python-async/build_dev.py
  packages/cli/tests/commands/template/fixtures/multi-stage/expected/python-async/build_prod.py
  packages/cli/tests/commands/template/fixtures/multi-stage/expected/python-sync/build_dev.py
  packages/cli/tests/commands/template/fixtures/multi-stage/expected/python-sync/build_prod.py
  packages/cli/tests/commands/template/fixtures/multiple-env/expected/python-async/build_dev.py
  packages/cli/tests/commands/template/fixtures/multiple-env/expected/python-async/build_prod.py
  packages/cli/tests/commands/template/fixtures/multiple-env/expected/python-sync/build_dev.py
  packages/cli/tests/commands/template/fixtures/multiple-env/expected/python-sync/build_prod.py
  packages/cli/tests/commands/template/fixtures/start-cmd/expected/python-async/build_dev.py
  packages/cli/tests/commands/template/fixtures/start-cmd/expected/python-async/build_prod.py
  packages/cli/tests/commands/template/fixtures/start-cmd/expected/python-sync/build_dev.py
  packages/cli/tests/commands/template/fixtures/start-cmd/expected/python-sync/build_prod.py
  packages/cli/tests/commands/template/migrate.test.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

revert tool versions
  packages/cli/.tool-versions
Owners: @jakubno, @ValentaTomas, @mishushakov

use .tool-versions file to sync local dev and github actions
  .github/workflows/cli_tests.yml
  .github/workflows/generated_files.yml
  .github/workflows/js_sdk_tests.yml
  .github/workflows/lint.yml
  .github/workflows/publish_packages.yml
  .github/workflows/python_sdk_tests.yml
  .github/workflows/release.yml
  .github/workflows/release_candidates.yml
  .tool-versions
Owners: @jakubno, @ValentaTomas

add changesets
  .changeset/four-dryers-beg.md
  .changeset/lovely-insects-dress.md
  .changeset/pink-hotels-hunt.md
Owners: @jakubno, @ValentaTomas

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
* @jakubno @ValentaTomas

# Web
apps/web @jakubno @ben-fornefeld
apps/web/src/app/(docs)/docs @mlejva

# SDKs
packages @jakubno @ValentaTomas @mishushakov
packages/connect-python @ValentaTomas
