Repository e2b-dev/E2B, changes with the owners that CODEOWNERS names for each.
All owners: @jakubno, @ValentaTomas, @ben-fornefeld, @mlejva, @mishushakov

refactor: Use chunked transfer encoding for tar uploads
  packages/js-sdk/src/template/buildApi.ts
  packages/js-sdk/src/template/utils.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

chore: Add changeset for chunked upload
  .changeset/chunked-upload.md
Owners: @jakubno, @ValentaTomas

update auto-resume config
  apps/web/src/app/(docs)/docs/sdk-reference/js-sdk/v2.12.0/sandbox/page.mdx
  packages/js-sdk/src/sandbox/sandboxApi.ts
  packages/js-sdk/tests/sandbox/autoResume.test.ts
  spec/openapi.yml
Owners: @mlejva, @jakubno, @ValentaTomas, @mishushakov

fix: resolve ty no-matching-overload error on Sandbox.kill()
  packages/python-sdk/e2b/sandbox/utils.py
Owners: @jakubno, @ValentaTomas, @mishushakov

update autoresume policy to struct
  packages/js-sdk/src/api/schema.gen.ts
  packages/js-sdk/tests/sandbox/autoResume.test.ts
  packages/python-sdk/e2b/api/client/models/new_sandbox.py
  packages/python-sdk/e2b/sandbox/sandbox_api.py
  packages/python-sdk/e2b/sandbox_async/main.py
  packages/python-sdk/e2b/sandbox_async/sandbox_api.py
  packages/python-sdk/e2b/sandbox_sync/main.py
  packages/python-sdk/e2b/sandbox_sync/sandbox_api.py
  packages/python-sdk/tests/sync/api/test_new_sandbox.py
Owners: @jakubno, @ValentaTomas, @mishushakov

Use chunked transfer encoding for tar uploads (#1118)
  .changeset/chunked-upload.md
  packages/js-sdk/src/template/buildApi.ts
  packages/js-sdk/src/template/utils.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

move autoresume to end for not breaking positional placement
  AUTO_RESUME.md
  packages/python-sdk/e2b/sandbox_async/main.py
  packages/python-sdk/e2b/sandbox_sync/main.py
Owners: @jakubno, @ValentaTomas, @mishushakov

tests for auto resume sdk
  packages/python-sdk/tests/async/api_async/test_sandbox_api_auto_resume.py
  packages/python-sdk/tests/sync/api/test_sandbox_api_auto_resume.py
Owners: @jakubno, @ValentaTomas, @mishushakov

chore: add changeset for ty overload fix
  .changeset/fix-ty-overload-error.md
Owners: @jakubno, @ValentaTomas

revert: remove changeset, will be added manually
  .changeset/fix-ty-overload-error.md
Owners: @jakubno, @ValentaTomas

chore: add changeset
  .changeset/sparkly-comics-sin.md
Owners: @jakubno, @ValentaTomas

spec/js-sdk: add Process.CloseStdin (EOF)
  package.json
  packages/js-sdk/src/envd/process/process_connect.ts
  packages/js-sdk/src/envd/process/process_pb.ts
  packages/js-sdk/src/sandbox/commands/index.ts
  pnpm-lock.yaml
  spec/envd/process/process.proto
Owners: @jakubno, @ValentaTomas, @mishushakov

cli: close stdin after piping input
  packages/cli/src/commands/sandbox/exec.ts
  packages/cli/src/commands/sandbox/exec_helpers.ts
  packages/cli/tests/commands/sandbox/exec_pipe.test.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

close is internal - not really gonna use from js sdk directly
  packages/js-sdk/src/sandbox/commands/index.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

make sandbox exec stdin piping binary-safe + close EOF
  packages/cli/src/commands/sandbox/exec.ts
  packages/cli/src/commands/sandbox/exec_helpers.ts
  packages/cli/tests/commands/sandbox/exec_helpers.test.ts
  packages/js-sdk/src/sandbox/commands/index.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

linter
  packages/cli/src/commands/sandbox/create_headless.ts
  packages/cli/src/commands/sandbox/exec_helpers.ts
  packages/cli/src/commands/sandbox/kill.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

cli tests: signal EOF after piping stdin, switch to raw bytes
  packages/cli/tests/commands/sandbox/exec_helpers.test.ts
  packages/cli/tests/commands/sandbox/exec_pipe.test.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

cli: treat redirected stdin as piped input for sandbox exec
  packages/cli/src/commands/sandbox/exec_helpers.ts
  packages/cli/tests/commands/sandbox/exec_helpers.test.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

cli: skip opening remote stdin for empty pipes
  packages/cli/src/commands/sandbox/exec.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

cli: support timeout for the cli
  packages/cli/src/commands/sandbox/exec.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

cli: when template doesn't support stdin (old), let user know the template's old
  packages/cli/src/commands/sandbox/exec.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

rm headless, that can go in another PR
  packages/cli/src/commands/sandbox/create_headless.ts
  packages/cli/src/commands/sandbox/index.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

chore(cli): narrow to stdin changes
  packages/cli/scripts/README.md
  packages/cli/scripts/pipe_smoke.sh
  packages/cli/src/api.ts
  packages/cli/src/commands/sandbox/connect.ts
  packages/cli/src/commands/sandbox/create.ts
  packages/cli/src/commands/sandbox/exec.ts
  packages/cli/src/commands/sandbox/kill.ts
  packages/cli/src/commands/sandbox/list.ts
  packages/cli/src/user.ts
  packages/cli/tests/commands/sandbox/exec_pipe.test.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

Fix Python SDK type issues with ty type checker
  packages/python-sdk/e2b/api/__init__.py
  packages/python-sdk/e2b/api/client_async/__init__.py
  packages/python-sdk/e2b/api/client_sync/__init__.py
  packages/python-sdk/e2b/connection_config.py
  packages/python-sdk/e2b/sandbox/main.py
  packages/python-sdk/e2b/sandbox/sandbox_api.py
  packages/python-sdk/e2b/sandbox_async/commands/command.py
  packages/python-sdk/e2b/sandbox_async/main.py
  packages/python-sdk/e2b/sandbox_async/sandbox_api.py
  packages/python-sdk/e2b/sandbox_sync/commands/command.py
  packages/python-sdk/e2b/sandbox_sync/main.py
  packages/python-sdk/e2b/sandbox_sync/sandbox_api.py
  packages/python-sdk/e2b/template/dockerfile_parser.py
  packages/python-sdk/e2b/template/main.py
  packages/python-sdk/example.py
Owners: @jakubno, @ValentaTomas, @mishushakov

Remove invalid overloads for class_method_variant methods
  packages/python-sdk/e2b/sandbox_async/main.py
  packages/python-sdk/e2b/sandbox_sync/main.py
  packages/python-sdk/example.py
Owners: @jakubno, @ValentaTomas, @mishushakov

Replace type: ignore[invalid-argument-type] with proper fixes
  packages/python-sdk/e2b/sandbox/sandbox_api.py
  packages/python-sdk/e2b/sandbox_async/sandbox_api.py
  packages/python-sdk/e2b/sandbox_sync/sandbox_api.py
  packages/python-sdk/e2b/template/dockerfile_parser.py
  packages/python-sdk/e2b/template/main.py
Owners: @jakubno, @ValentaTomas, @mishushakov

fix: rename _cls_connect to _cls_connect_sandbox to fix invalid-method-override
  packages/python-sdk/e2b/sandbox_async/main.py
  packages/python-sdk/e2b/sandbox_sync/main.py
Owners: @jakubno, @ValentaTomas, @mishushakov

refactor: clean up SandboxCreateResponse construction
  packages/python-sdk/e2b/sandbox_async/sandbox_api.py
  packages/python-sdk/e2b/sandbox_sync/sandbox_api.py
Owners: @jakubno, @ValentaTomas, @mishushakov

refactor: use res.parsed directly instead of local alias
  packages/python-sdk/e2b/sandbox_async/sandbox_api.py
  packages/python-sdk/e2b/sandbox_sync/sandbox_api.py
Owners: @jakubno, @ValentaTomas, @mishushakov

chore: add ty type checker as dev dependency
  packages/python-sdk/poetry.lock
  packages/python-sdk/pyproject.toml
Owners: @jakubno, @ValentaTomas, @mishushakov

fix: use None instead of empty string for missing envd_access_token
  packages/python-sdk/e2b/api/__init__.py
  packages/python-sdk/e2b/sandbox_async/sandbox_api.py
  packages/python-sdk/e2b/sandbox_sync/sandbox_api.py
Owners: @jakubno, @ValentaTomas, @mishushakov

feat: add overloads for class_method_variant methods
  packages/python-sdk/e2b/sandbox_async/main.py
  packages/python-sdk/e2b/sandbox_sync/main.py
Owners: @jakubno, @ValentaTomas, @mishushakov

fix: use @classmethod overloads for basedpyright compatibility
  packages/python-sdk/e2b/sandbox_async/main.py
  packages/python-sdk/e2b/sandbox_sync/main.py
  packages/python-sdk/pyproject.toml
Owners: @jakubno, @ValentaTomas, @mishushakov

docs: restore docstrings on overloaded method variants
  packages/python-sdk/e2b/sandbox_async/main.py
  packages/python-sdk/e2b/sandbox_sync/main.py
Owners: @jakubno, @ValentaTomas, @mishushakov

fix: use @staticmethod overloads to avoid reportInconsistentOverload
  packages/python-sdk/e2b/sandbox_async/main.py
  packages/python-sdk/e2b/sandbox_sync/main.py
Owners: @jakubno, @ValentaTomas, @mishushakov

fix: suppress reportInconsistentOverload in basedpyright config
  packages/python-sdk/pyproject.toml
Owners: @jakubno, @ValentaTomas, @mishushakov

ci: add typecheck workflow and pnpm typecheck script
  .github/workflows/typecheck.yml
  apps/web/package.json
  package.json
  packages/cli/package.json
  packages/js-sdk/package.json
  packages/python-sdk/Makefile
  packages/python-sdk/package.json
Owners: @jakubno, @ValentaTomas, @ben-fornefeld, @mishushakov

chore: remove typecheck script from apps/web
  apps/web/package.json
Owners: @jakubno, @ben-fornefeld

Potential fix for code scanning alert no. 14: Workflow does not contain permissions
  .github/workflows/typecheck.yml
Owners: @jakubno, @ValentaTomas

fix(cli): resolve team ID from env var, avoid config mismatch
  .changeset/fix-team-id-env-override.md
  packages/cli/src/api.ts
  packages/cli/src/commands/template/build.ts
  packages/cli/src/commands/template/delete.ts
  packages/cli/src/commands/template/list.ts
  packages/cli/src/commands/template/publish.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
* @jakubno @ValentaTomas

# Web
apps/web @jakubno @ben-fornefeld
apps/web/src/app/(docs)/docs @mlejva

# SDKs
packages @jakubno @ValentaTomas @mishushakov
packages/connect-python @ValentaTomas
