Repository e2b-dev/E2B, changes with the owners that CODEOWNERS names for each.
All owners: @jakubno, @ValentaTomas, @ben-fornefeld, @mlejva, @mishushakov

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
* @jakubno @ValentaTomas

# Web
apps/web @jakubno @ben-fornefeld
apps/web/src/app/(docs)/docs @mlejva

# SDKs
packages @jakubno @ValentaTomas @mishushakov
packages/connect-python @ValentaTomas

implement cursor suggestions
  packages/js-sdk/tests/template/methods/fromDockerfile.test.ts
  packages/python-sdk/tests/async/template_async/test_stacktrace.py
  packages/python-sdk/tests/sync/template_sync/test_stacktrace.py
Owners: @jakubno, @ValentaTomas, @mishushakov

Improve CI/CD speed for template tests (#1035)
  .github/workflows/js_sdk_tests.yml
  packages/js-sdk/package.json
  packages/js-sdk/tests/setup.ts
  packages/js-sdk/tests/template/build.test.ts
  packages/js-sdk/tests/template/methods/aptInstall.test.ts
  packages/js-sdk/tests/template/methods/bunInstall.test.ts
  packages/js-sdk/tests/template/methods/fromDockerfile.test.ts
  packages/js-sdk/tests/template/methods/fromMethods.test.ts
  packages/js-sdk/tests/template/methods/makeSymlink.test.ts
  packages/js-sdk/tests/template/methods/npmInstall.test.ts
  packages/js-sdk/tests/template/methods/pipInstall.test.ts
  packages/js-sdk/tests/template/stacktrace.test.ts
  packages/python-sdk/tests/async/template_async/methods/test_apt_install.py
  packages/python-sdk/tests/async/template_async/methods/test_bun_install.py
  packages/python-sdk/tests/async/template_async/methods/test_from_dockerfile.py
  packages/python-sdk/tests/async/template_async/methods/test_from_methods.py
  packages/python-sdk/tests/async/template_async/methods/test_make_symlink.py
  packages/python-sdk/tests/async/template_async/methods/test_npm_install.py
  packages/python-sdk/tests/async/template_async/methods/test_pip_install.py
  packages/python-sdk/tests/async/template_async/test_build.py
  packages/python-sdk/tests/async/template_async/test_stacktrace.py
  packages/python-sdk/tests/conftest.py
  packages/python-sdk/tests/sync/template_sync/methods/test_apt_install.py
  packages/python-sdk/tests/sync/template_sync/methods/test_bun_install.py
  packages/python-sdk/tests/sync/template_sync/methods/test_from_dockerfile.py
  packages/python-sdk/tests/sync/template_sync/methods/test_from_methods.py
  packages/python-sdk/tests/sync/template_sync/methods/test_make_symlink.py
  packages/python-sdk/tests/sync/template_sync/methods/test_npm_install.py
  packages/python-sdk/tests/sync/template_sync/methods/test_pip_install.py
  packages/python-sdk/tests/sync/template_sync/test_build.py
  packages/python-sdk/tests/sync/template_sync/test_stacktrace.py
  pnpm-lock.yaml
Owners: @jakubno, @ValentaTomas, @mishushakov

fix cmd parser (fromDockerfile)
  packages/js-sdk/tests/template/methods/fromDockerfile.test.ts
  packages/python-sdk/e2b/template/dockerfile_parser.py
  packages/python-sdk/tests/async/template_async/methods/test_from_dockerfile.py
  packages/python-sdk/tests/sync/template_sync/methods/test_from_dockerfile.py
Owners: @jakubno, @ValentaTomas, @mishushakov

added changeset
  .changeset/fluffy-shrimps-play.md
Owners: @jakubno, @ValentaTomas

modified parser and exception
  packages/python-sdk/e2b/template/dockerfile_parser.py
Owners: @jakubno, @ValentaTomas, @mishushakov

Fixes CMD parser in Python from_dockerfile method (#1040)
  .changeset/fluffy-shrimps-play.md
  packages/js-sdk/tests/template/methods/fromDockerfile.test.ts
  packages/python-sdk/e2b/template/dockerfile_parser.py
  packages/python-sdk/tests/async/template_async/methods/test_from_dockerfile.py
  packages/python-sdk/tests/sync/template_sync/methods/test_from_dockerfile.py
Owners: @jakubno, @ValentaTomas, @mishushakov

Update tar
  packages/js-sdk/package.json
  pnpm-lock.yaml
Owners: @jakubno, @ValentaTomas, @mishushakov

Update vite
  pnpm-lock.yaml
Owners: @jakubno, @ValentaTomas

Update glob
  packages/js-sdk/package.json
  pnpm-lock.yaml
Owners: @jakubno, @ValentaTomas, @mishushakov

Update js yaml
  pnpm-lock.yaml
Owners: @jakubno, @ValentaTomas

Add changeset
  .changeset/famous-stamps-tan.md
Owners: @jakubno, @ValentaTomas

Update dependencies (#1041)
  .changeset/famous-stamps-tan.md
  packages/js-sdk/package.json
  pnpm-lock.yaml
Owners: @jakubno, @ValentaTomas, @mishushakov

fix(js-sdk-template): handle ESM file URLs
  packages/js-sdk/src/template/utils.ts
  packages/js-sdk/tests/template/utils/getCallerDirectory.test.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

added dynamic node url import
  packages/js-sdk/src/template/utils.ts
  packages/js-sdk/src/utils.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

added changeset
  .changeset/nine-taxes-greet.md
Owners: @jakubno, @ValentaTomas

refactored dynamic import utils
  packages/js-sdk/src/template/utils.ts
  packages/js-sdk/src/utils.ts
  packages/js-sdk/tests/template/utils/tarFileStream.test.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

FIX(js-sdk): Template().copy() fails in ESM modules (#1046)
  .changeset/nine-taxes-greet.md
  packages/js-sdk/src/template/utils.ts
  packages/js-sdk/src/utils.ts
  packages/js-sdk/tests/template/utils/getCallerDirectory.test.ts
  packages/js-sdk/tests/template/utils/tarFileStream.test.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

fix test getCallerDirectory handles file://
  packages/js-sdk/tests/template/utils/getCallerDirectory.test.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

fix test getCallerDirectory handles file:// (#1047)
  packages/js-sdk/tests/template/utils/getCallerDirectory.test.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

Update deps
  apps/web/package.json
  pnpm-lock.yaml
Owners: @jakubno, @ben-fornefeld, @ValentaTomas

Update deps (#1050)
  apps/web/package.json
  pnpm-lock.yaml
Owners: @jakubno, @ben-fornefeld, @ValentaTomas

Update e2b
  packages/cli/package.json
  pnpm-lock.yaml
Owners: @jakubno, @ValentaTomas, @mishushakov

Update glob
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Owners: @jakubno, @ben-fornefeld, @ValentaTomas

Update e2b (#1051)
  apps/web/package.json
  package.json
  packages/cli/package.json
  pnpm-lock.yaml
Owners: @jakubno, @ben-fornefeld, @ValentaTomas, @mishushakov

Add note to template env vars
  packages/js-sdk/src/template/types.ts
  packages/python-sdk/e2b/template/main.py
Owners: @jakubno, @ValentaTomas, @mishushakov

fix formatting
  packages/js-sdk/src/template/types.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

small fix
  packages/js-sdk/src/template/types.ts
  packages/python-sdk/e2b/template/main.py
Owners: @jakubno, @ValentaTomas, @mishushakov

added changeset
  .changeset/twelve-needles-march.md
Owners: @jakubno, @ValentaTomas

removed empty space
  packages/python-sdk/e2b/template/main.py
Owners: @jakubno, @ValentaTomas, @mishushakov

[WIP] Add pty reconnect
  packages/js-sdk/src/sandbox/commands/pty.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

WIP
  packages/js-sdk/src/sandbox/commands/pty.ts
  packages/js-sdk/tests/sandbox/pty/ptyConnect.test.ts
  packages/python-sdk/e2b/sandbox_async/commands/pty.py
  packages/python-sdk/e2b/sandbox_sync/commands/pty.py
  packages/python-sdk/tests/async/sandbox_async/pty/test_pty_connect.py
  packages/python-sdk/tests/sync/sandbox_sync/pty/test_pty_connect.py
Owners: @jakubno, @ValentaTomas, @mishushakov

Fix lint
  packages/python-sdk/tests/async/sandbox_async/pty/test_pty_connect.py
  packages/python-sdk/tests/sync/sandbox_sync/pty/test_pty_connect.py
Owners: @jakubno, @ValentaTomas, @mishushakov

Fix lint
  packages/js-sdk/src/sandbox/commands/pty.ts
  packages/js-sdk/tests/sandbox/pty/ptyConnect.test.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

on_data should not be optional
  packages/python-sdk/e2b/sandbox_async/commands/pty.py
Owners: @jakubno, @ValentaTomas, @mishushakov

updated ts test
  packages/js-sdk/tests/sandbox/pty/ptyConnect.test.ts
Owners: @jakubno, @ValentaTomas, @mishushakov

updated python tests
  packages/python-sdk/tests/async/sandbox_async/pty/test_pty_connect.py
  packages/python-sdk/tests/sync/sandbox_sync/pty/test_pty_connect.py
Owners: @jakubno, @ValentaTomas, @mishushakov

fixes sync python tests
  packages/python-sdk/tests/sync/sandbox_sync/pty/test_pty_connect.py
Owners: @jakubno, @ValentaTomas, @mishushakov

added changeset
  .changeset/fast-rocks-help.md
Owners: @jakubno, @ValentaTomas

lint
  packages/python-sdk/tests/sync/sandbox_sync/pty/test_pty_connect.py
Owners: @jakubno, @ValentaTomas, @mishushakov

fix watch handle test
  packages/python-sdk/tests/sync/sandbox_sync/files/test_watch.py
Owners: @jakubno, @ValentaTomas, @mishushakov
